{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Apple Silicon Native Audio Software{% endblock %}



{% block content %}
    <h2>{{ category.name }}</h2>
    {% if category.notes %}<div class="category_notes">{{ category.notes|safe }}</div>{% endif %}
    <ul class="developer_list">
        {% regroup object_list by developer as developer_list %}
        {% for developer, software_list in developer_list %}
            <li><h3 class="developer_name">{{ developer.name }}</h3>
                {% if developer.url %}<p><a href="{{ developer.url }}">{{ developer.url }}</a></p>{% endif %}
                {% if developer.notes %}<p>{{ developer.notes|safe }}</p>{% endif %}
                <ul class="software_list">
                    {% for software in software_list %}
                        <li><strong>{{ software.name }}</strong>
                            {% if software.version %}<em>&mdash; {{ software.version }}</em>{% endif %}
                        {% if software.notes %}<p>{{ software.notes|safe }}</p>{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </uli>

{% endblock %}