{% extends 'base.html' %}
{% load django_bootstrap5 %}
{%  load snippets_extras %}

{% block title %}Apple Silicon Native Audio Software{% endblock %}

{% block content %}
    <h2>Info</h2>
    {% get_snippet "home_info" %}
    <h2>Choose a Category:</h2>
    <ul class="category_list">
        {% for category in categories %}
            <li><a href="{% url 'software-list-category' category.pk %}">{{ category.name }}</a></li>
        {%  endfor %}
    </ul>

    <h2>Recent Updates</h2>
    <ul style="list-style: none;">
    {% for item in recent_updates %}
        <li>{{ item.updated|date:"d-M-Y" }} &mdash; {{ item.developer.name }} &mdash; {{ item.name }}{% if item.version %},
            v. {{ item.version }}{% endif %}
            &mdash; {{ item.category.name }}
        </li>
    {% endfor %}
    </ul>
{% endblock %}